@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(242, 242, 255);
}


input::-ms-reveal {
  display: none;
}

input::-ms-clear {
  display: none;
}

input:focus {
  outline: none;
  border: 2px solid;
  border-color: #4A90E2;
}


.custom-toast-success {
  background-color: #28a745; /* Verde para éxito */
  color: white; /* Color del texto */
}

.custom-toast-error {
  background-color: #dc3545; /* Rojo para error */
  color: white; /* Color del texto */
}

.custom-toast-warning {
  background-color: #ffc107; /* Amarillo para advertencia */
  color: black; /* Color del texto */
}

.custom-toast-info {
  background-color: #17a2b8; /* Azul para información */
  color: white; /* Color del texto */
}